[submodule "3rdparty/libwebsockets"]
	path = 3rdparty/libwebsockets
	url = git@github.com:jdarpinian/libwebsockets.git
[submodule "3rdparty/boringssl"]
	path = 3rdparty/boringssl
	url = git@github.com:google/boringssl.git
